
<div class="row">
  <!-- add logo -->
  <div class="col-sm-12" style="padding-left: 100px;">
    <img class="center" height="100%" width="300px;" src="http://www.tmisd.us/pictures/2015.16.pics/backtoschool11.jpg" alt="" >
  </div>
</div>

<!-- Student Details -->
<div class="card">
  <div class="card-block">
    
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-7">
          <span style="font-size: x-large;">Studen: Alyiah</span>
          
        </div>
        <div class="col-2">
          <span class="pull-Xright" style="font-size: x-large; font-weight: bold;color: #E30AE3;">Girl</span>
        </div>
        <div class="col-2">
          <!-- <a [routerLink]="['/studentdetails']"><i class="fa fa-arrow-right fa-2x"></i></a> -->
        </div>

        <div class="col-sm-12">
          <span>
            <!-- <span class="text-muted">** No School Clasroom Items Selected **</span> -->
             <span class="text-primary">5th Grade - {{selSchool?.name}} </span> 
             
          </span>
        </div>
      </div>
    </div>      
  </div>

<br>
  <table class="table table-bordered table-sm" [hidden]="isSchoolList">
    <tr *ngFor="let s of schoolList">
      <td>
        <button (click)="showClassRoomList(s)" href="" class="btn btn-sm">
          <i class="fa fa-chevron-right fa-2x"></i>
        </button>
      </td>
      <td>
        <span style="font-size: large;" >{{s.name}}</span>
        <br>
        <span style="font-size: small;" class="text-muted">{{s.county}}</span>
      </td>
    </tr>
  </table>

  <button class="btn btn-sm" (click)="isSchoolList = !isSchoolList" [hidden]="!isSchoolList">
    <i class="fa fa-backward"></i>
    Back
  </button>
  <div class="card" [hidden]="!isSchoolList">
    <div class="card-block">
      
      <table class="table table-hover table-responsivex">
        <tr *ngFor="let c of classList">
          <td>
            <button href="" class="btn btn-primary " (click)="setClassList()">
              {{c.name.substring(0,4)}}
            </button>
          </td>
          <td class="pull-left">
            <span style="font-size: large;">{{c.name}}</span>
            <br>
            <span style="font-size: small;" class="text-muted">xxxxxxxxx</span>
          </td>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
        </tr>
      </table>
    </div>
  </div>





<nav class="navbar  navbar-inverse ">
    <a class="btn btn-block btn-secondary btn-outline-secondary" [routerLink]="['/studentlist']">
      <i class="fa fa-backward fa-2x"></i>
      &nbsp;&nbsp;
      <span style="font-size: x-large;">Back to Student List</span>
    </a>

   <br>

</nav>