

<div class="row">
  <!-- add logo -->
  <div class="col-sm-12" style="padding-left: 100px;">
    <img class="center" height="100%" width="300px;" src="http://www.tmisd.us/pictures/2015.16.pics/backtoschool11.jpg" alt="" >
  </div>
</div>

  <!-- add Social buttons -->
  <!-- Add Login Email Buttons -->
<div class="row" style="padding-left: 25px; padding-right: 25px;">
  <div class="col-sm-12 ">
    <button (click)="loginFb()" id="btnLoginFaceBook" name="btnLoginFaceBook" class="btn btn-block btn-lg btn-outline-primary">
      <i class="fa fa-facebook-square"></i>
      <span>Login With Facebook</span>
    </button>
    <br>
  </div>
  
  <div class="col-sm-12 ">
    <button (click)="loginGoogle()" class="btn btn-block btn-lg btn-outline-danger">
      <i class="fa fa-google"></i>
      <span>Login With Google</span>
    </button>
    <br>
  </div>

  <div class="col-sm-12 ">
    <a [routerLink]="['/login-email']" class="btn btn-block btn-lg btn-outline-info">
      <i class="fa fa-envelope"></i>
      <span>Login With Email</span>
    </a>
    <!-- <button class="btn btn-block btn-lg btn-outline-info">
      <i class="fa fa-envelope"></i>
      <span>Login With Email</span>
    </button> -->
  </div>

</div>
<br><br>
<div class="alert alert-danger" role="alert" *ngIf="error">
  <strong>Login Unsuccessful!</strong> <br> 
  {{error}}
</div>




  <!-- add No Account Create one button -->
  <nav class="navbar fixed-bottom navbar-inverse bg-primary">
    <div class="text-center">
      <a class="navbar-brand" [routerLink]="['/signup']">No Account? Create one here.</a>
    </div>
  </nav>

