
<div class="row">
  <!-- add logo -->
  <div class="col-sm-12" style="padding-left: 100px;">
    <img class="center" height="100%" width="300px;" src="http://www.tmisd.us/pictures/2015.16.pics/backtoschool11.jpg" alt="" >
  </div>
</div>

<br>
<!-- User Display Name -->
<div class="card card-outline-primary">
  <div class="card-block">
    <div class="row">
      <div class="col-2">
        <img src="http://www.freeiconspng.com/uploads/profile-icon-9.png" class="img-fluid" alt="Responsive image" 
          height="45" width="45" 
          class="rounded-circle bg-success">
      </div>
      <div class="col-8" style="padding-top: 10px;">
        <span style="font-size: x-large; font-weight: lighter;">Display Name Here</span>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Student List -->
<div class="card">
  <div class="card-block">
    
    <div class="row" style="padding-bottom: 5px;border-bottom: solid thin silver;">
        <div class="col-7">
          <span style="font-size: x-large;">Studen: Alyiah</span>
          
        </div>
        <div class="col-2">
          <span class="pull-Xright" style="font-size: x-large; font-weight: bold;color: #E30AE3;">Girl</span>
        </div>
        <div class="col-2">
          <a [routerLink]="['/studentdetails']"><i class="fa fa-arrow-right fa-2x"></i></a>
        </div>

        <div class="col-sm-12">
          <span>
            <span class="text-muted">** No School Clasroom Items Selected **</span>
            <!-- 5th Grade - Mt Laural Elementary -->
          </span>
        </div>
      </div>

      <div class="row">
            <div class="col-7">
              <span style="font-size: x-large;">Studen: Steven</span>
              
            </div>
            <div class="col-2">
              <span class="pull-Xright" style="font-size: x-large; font-weight: bold;color: #0A23E3;">Boy</span>
            </div>
            <div class="col-2">
              <a [routerLink]="['/studentdetails']"><i class="fa fa-arrow-right fa-2x"></i></a>
            </div>

            <div class="col-sm-12">
              <span>
                3th Grade - Mt Laural Elementary
              </span>
            </div>
            
          </div>
      </div>      
      
  </div>








<nav class="navbar fixed-bottom navbar-inverse ">
    <a class="btn btn-info  btn-block btn-warning" [routerLink]="['/add-student']">
      <span style="font-size: x-large;">Add Student</span>
      &nbsp;&nbsp;
      <i class="fa fa-child fa-2x"></i>
    </a>

   <br>

  <a class="btn btn-info  btn-block" [routerLink]="['/']">
      <span style="font-size: x-large;">Logout</span>
      &nbsp;&nbsp;
      <i class="fa fa-sign-out fa-2x"></i>
    </a>
</nav>